{erl_opts, [debug_info]}.
{deps, [
        {cowboy, "2.7.0"},
        {jiffy, "1.0.4"}
       ]}.

{project_plugins, [
  rebar3_proper,
  {rebar3_edoc_chunks, {git, "https://github.com/erszcz/edoc.git", {branch, "wip"}}}
]}.

{shell, [
  {config, "config/sys.config"},
  {apps, [ematrixd]}
]}.


{dialyzer, [
  {warnings, [
    %% Warn about undefined types and unknown functions
    unknown
  ]}
]}.

{xref_checks, [
  %% enable most checks, but avoid 'unused calls' which is often very verbose
  undefined_function_calls, undefined_functions, locals_not_used,
  deprecated_function_calls, deprecated_functions
]}.

{profiles, [
  {test, [
    %% Avoid warnings when test suites use `-compile(export_all)`
    {erl_opts, [nowarn_export_all]},
    {deps, [{proper, "1.3.0"}]}
  ]}
]}.

{provider_hooks, [
  {post, [{compile, {edoc_chunks, compile}}]}
]}.